.project-card {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  line-height: 1.15rem;
}

.project-img {
  width: 100%;
}

.project-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

.project-link {
  transition: color 0.2s ease-in-out;
  position: relative;
}

.project-link:hover {
  color: rgb(84, 186, 89);
}

.project-link-bar {
  background: linear-gradient(
    90deg,
    rgba(31, 82, 32, 1) 0%,
    rgba(11, 55, 71, 1) 100%
  );
  top: 1.5rem;
  position: absolute;
  width: 0rem;
  height: 0.25rem;
  transition: width 0.5s ease-in-out;
}

.project-link:hover .project-link-bar {
  width: calc(100% + 8px);
  height: 0.25rem;
}

.project-desc {
}

.project-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 0.125rem;
}

.project-tag {
  position: relative;
  display: inline-block;
}

.github-logo {
  width: 2rem;
  height: 2rem;
}

.project-tag-logo {
  width: 2rem;
  height: 2rem;
}

.project-tag .project-tag-tooltip {
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  padding: 5px 0;
  border-radius: 0.25rem;
  transition: opacity 0.4s;
  background-color: rgb(40, 40, 40);
  text-align: center;
  font-size: 1.125rem;
  position: absolute;
  width: 100px;
  bottom: 105%;
  left: 50%;
  margin-left: -50px;
}

.project-tag:hover .project-tag-tooltip {
  visibility: visible;
  opacity: 1;
}
